<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiro.mapper.UsersMapper">
	<resultMap id="BaseResultMap" type="com.shiro.entity.Users">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="username" property="userName" jdbcType="VARCHAR"/>
		<result column="password" property="passWord" jdbcType="VARCHAR"/>
		<result column="really_name" property="reallyName" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="role_name" property="roleName" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="base_column_list">
		id,username,password,really_name,phone
	</sql>

	<select id="selectListSelective" resultMap="BaseResultMap" parameterType="com.shiro.entity.Users">
		select * from users
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="userName != null">
				and username = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="passWord != null">
				and password = #{passWord,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	
	<select id="selectListSelectivePaging" resultMap="BaseResultMap" parameterType="com.shiro.entity.PageEntity">
		select u.*,r.role_name as roleName from users as u left join user_role as ur on u.id=ur.user_id LEFT join role as r ON r.id = ur.role_id
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="userName != null">
				and username = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="passWord != null">
				and password = #{passWord,jdbcType=VARCHAR}
			</if>
			<if test="phone != null">
				and phone = #{phone,jdbcType=VARCHAR}
			</if>
			<if test="reallyName != null">
				and really_name = #{reallyName,jdbcTye=VARCHAR}
			</if>
		</where>
		order by id desc
	</select>
	
	<insert id="insertSelective" parameterType="com.shiro.entity.PageEntity">
		insert into users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				username,
			</if>
			<if test="passWord != null">
				password,
			</if>
			<if test="phone != null ">
				phone,
			</if>
			<if test="reallyName != null">
				really_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="passWord != null">
				#{passWord,jdbcType=VARCHAR},
			</if>
			<if test="phone != null ">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="reallyName != null">
				#{reallyName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>



</mapper>